.container {
  max-width: 600px; 
  margin: 90px auto; 
  padding: 20px; 
  background-color: #a6adb4d2; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
}

.container h1 {
  margin-bottom: 20px; 
  font-size: 2rem; 
  color: #2b302a; 
}

.container hr {
  margin-bottom: 20px;
  border: none; 
  height: 2px; 
  background-color: #a3e479; 
}

h3 {
  margin-bottom: 60px; 
  font-size: 1.5rem; 
  color: #494848; 
}

p {
  margin-bottom: 20px; 
  padding: 8px;
  font-size: 1rem;
  color: #191818;
}

.container button {
  margin: 4px; 
  margin-top: 90px;
  padding: 10px 20px; 
  font-size: 1rem;
  color: #fdfdfd; 
  background-color: #0f72dcfc; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}


button:hover {
  opacity: 0.8;
}

.label {
  font-weight: bolder;
  color: #000000;
}

