.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.RecipeCard {
  background-color: #e3e8eed6;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  position: relative;
  padding: 10px;
  transition: transform 0.2s;
}

.RecipeCard:hover {
  transform: scale(1.05);
}

.RecipeCard h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #333;
  position: absolute;
  bottom: 0px;
}

h1 {
  margin-left: 40px;
}