.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f1f1; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
  /* padding: 6px; */
}

.container img {
  height: 80px;
  width: 120px;
}

.container h2:first-child {
  margin: 0;
  color: #e46962;
  font-size: 1.8rem;
}

.container h2 {
  margin: 0 20px;
  font-size: 1.2rem; 
}

.container a {
  color: #e46962;
  text-decoration: none; 
  padding: 6px 16px; 
  border-radius: 30px; 
  font-weight: 600;
  font-size: 1.4rem;
  transition: background-color 0.3s, color 0.3s; 
}

.container a:hover {
  background-color:  #a0c891; 
  color: #f3f1f1;
}

/* .container h2 a:active {
  background-color: #a0c891;
  color: #b7b5b5;
} */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .container h2 {
    margin: 10px 0;
  }
}
